@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  max-width: 1440px;
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #212121;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

input {
  width: 371px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  border: 1px solid #808080;
}

button {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.gallery {
  display: flex;
  gap: 30px;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.img-blok {
  width: 360px;
  border: #808080 solid 1px;
  background: 5px;
}
.image-descript {
  flex-wrap: nowrap;
  display: flex;
  gap: 14px;
  list-style-type: none;
  justify-content: center;
  padding: 10px;
  height: 48px;
  font-size: 12px;
}

p,
h3 {
  display: flex;
  justify-content: center;
}
img {
  display: block;
  height: 200px;
  width: 360px;
  object-fit: cover;
}

.flower-spinner,
.flower-spinner * {
  box-sizing: border-box;
}

.flower-spinner {
  height: 70px;
  width: 70px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.flower-spinner .dots-container {
  height: calc(70px / 7);
  width: calc(70px / 7);
}

.flower-spinner .smaller-dot {
  background: #0c10e9;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;
}

.flower-spinner .bigger-dot {
  background: #0c10e9;
  height: 100%;
  width: 100%;
  padding: 10%;
  border-radius: 50%;
  animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
}

@keyframes flower-spinner-bigger-dot-animation {
  0%,
  100% {
    box-shadow: rgb(3, 156, 61) 0px 0px 0px, rgb(3, 156, 61) 0px 0px 0px,
      rgb(3, 156, 61) 0px 0px 0px, rgb(3, 156, 61) 0px 0px 0px,
      rgb(3, 156, 61) 0px 0px 0px, rgb(3, 156, 61) 0px 0px 0px,
      rgb(3, 156, 61) 0px 0px 0px, rgb(3, 156, 61) 0px 0px 0px;
  }

  50% {
    transform: rotate(180deg);
  }

  25%,
  75% {
    box-shadow: rgb(251, 255, 35) 26px 0px 0px, rgb(251, 255, 35) -26px 0px 0px,
      rgb(251, 255, 35) 0px 26px 0px, rgb(251, 255, 35) 0px -26px 0px,
      rgb(251, 255, 35) 19px -19px 0px, rgb(251, 255, 35) 19px 19px 0px,
      rgb(251, 255, 35) -19px -19px 0px, rgb(251, 255, 35) -19px 19px 0px;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: rgb(251, 255, 35) 0px 0px 0px, rgb(251, 255, 35) 0px 0px 0px,
      rgb(251, 255, 35) 0px 0px 0px, rgb(251, 255, 35) 0px 0px 0px,
      rgb(251, 255, 35) 0px 0px 0px, rgb(251, 255, 35) 0px 0px 0px,
      rgb(251, 255, 35) 0px 0px 0px, rgb(251, 255, 35) 0px 0px 0px;
  }
}

@keyframes flower-spinner-smaller-dot-animation {
  0%,
  100% {
    box-shadow: rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px;
  }

  25%,
  75% {
    box-shadow: rgb(77, 255, 23) 14px 0px 0px, rgb(77, 255, 23) -14px 0px 0px,
      rgb(77, 255, 23) 0px 14px 0px, rgb(77, 255, 23) 0px -14px 0px,
      rgb(77, 255, 23) 10px -10px 0px, rgb(77, 255, 23) 10px 10px 0px,
      rgb(77, 255, 23) -10px -10px 0px, rgb(77, 255, 23) -10px 10px 0px;
  }

  100% {
    box-shadow: rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px,
      rgb(77, 255, 23) 0px 0px 0px, rgb(77, 255, 23) 0px 0px 0px;
  }
}
.loaded_hiding .flower-spinner {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .flower-spinner {
  display: none;
}
.load-more {
  display: none;
  margin-top: 10px;
}
.mini-container {
  display: flex;
  justify-content: center;
}
